<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class = "bg-light py-4">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 text-center">
                <h1>Sign up as investor</h1>
                <h5 class = "text-muted pb-4">
                    A peer-to-peer financing platform
                    licensed by Monetary Authority of Singapore
                </h5>
            <form action="" method="post">
                        {%csrf_token%}
                    <div class = "form-group">
                        <input type = "text" name="first_name" class = "form-control form-control-lg" placeholder = "Full name as in IC / Passport">
                    </div>
                    <div class = "form-group">
                        <input type = "password" name="password" class = "form-control form-control-lg" placeholder = "Password">
                    </div>

                    <div class = "col-md-6 text-center py-4">
                        <h5 class = "d-inline">Sign up as a borrower instead ?</h5>
                        <a href = "#">Click here</a><br>
                        <h5 class = "d-inline">Already have an account ?</h5>
                        <a href = "#">Log in</a>
                        <div class = "py-4 my-1"></div>
                            <div class = "form-group">
                                <input type = "email" name="email" class = "form-control form-control-lg" placeholder = "Email">
                            </div>
                            <div class = "form-group">
                                <input type = "password" class = "form-control form-control-lg" placeholder = "Re-enter password">
                            </div>
                    </div>
                    <div class = "col-md-12 mb-2">
                        <div class="alert alert-secondary text-center">
                            Password Should Contain <strong>8 characters at least 1 uppercase and 1 lowercase at least 1 number</strong>
                        </div>
                    </div>
                    <div class = "col-md-6 text-center">
                                <div class = "form-group">
                                    <input type = "text" class = "form-control form-control-lg" placeholder = "Mobile phone number">
                                </div>
                            <div class="dropdown">
                                <button class="btn btn-danger btn-block btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                                    How did you find us ?
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">A</a>
                                    <a class="dropdown-item" href="#">B</a>
                                    <a class="dropdown-item" href="#">C</a>
                                    <a class="dropdown-item" href="#">D</a>
                                </div>
                            </div>
                    </div>
                    <div class = "col-md-6 text-center">
                            <div class = "form-group">
                                <input type = "text" class = "form-control form-control-lg" placeholder = "Referral code / promo code (Optional)">
                            </div>
                    </div>
                    <div class = "col-md-12 my-4 py-2">
                        <div style="height:1px;border:1px rgb(17, 17, 17) solid">
                        </div>
                    </div>
                    <div class = "col-md-6 text-center">
                        <div class="card">
                            <div class="card-body">
                                <form class = "form-inline">
                                    <div class = "form-check mb-3">
                                        <label class = "form-check-label">
                                            <input type = "checkbox" class = "form-check-input">Terms and conditions
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-6 text-center">
                        <button type = "submit" class = "btn btn-primary btn-block btn-lg">
                            Sign up
                        </button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>