<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    body{
        font-family: Montserrat;
    }
    body{
    background-color:#e5e8e8 ;
    }
    .card{
    width: 500px;
    margin-top:162px;
    }
    #borrower{
    background-color: #08255e;
    }
    #investor{
    background-color: #15c14f;
    }
</style>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-5 mx-auto mt-5">
                <div class = "card text-center">
                    <div class = "card-body">
                        <div class = "py-3">
                            <div class = "text-center py-2">
                                <a href="/"><img src = "../static/img/m.jpeg" class = "img-fluid pb-2" height = "100" width = "100"></a>
                            </div>
                            <p>
                                First peer to peer lending platform using government-registered escrow account for security of funds.
                            </p>
                        </div>
                        <div class = "py-1">
                            <a href="/investor"><button id="investor" class="btn btn-primary btn-lg btn-block" type="button">Sign up as investor</button></a>
                            <h4 class="h2 my-2">or</h4>
                            <a href="/borrower"><button id="borrower" class="btn btn-primary btn-lg btn-block" type="button">Sign up as borrower</button></a>
                        </div>
                        <div class = "mt-4" style="height:1px;border:1px rgb(146, 146, 146) solid">
                        </div>
                        <div class = "container">                                                                           
                            <div class = "row pt-3">
                                <div class = "col-md-8 mt-1 text-left">
                                    <p>Already have an account ?</p>
                                </div>
                                <div class = "col-md-4">
                                    <button class="btn btn-outline-primary" type="button">Log In</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>